<div class="aboutmain">
  <div class="aboutbg">
    <div class="container">
      <div class="col-md-10 col-md-offset-10 mx-auto">
        <div class="form-wrap">
          <div class="copy-container">
            <h1>What's Disneygram<span>!!</span></h1>
        </div>
        <div class="contents">
          <h3 class="about-section-title">Disneygramとは</h3>
          <p class="h4">ディズニーだけに特化した投稿サイト<br>
          映画、アニメ、雑誌、パークなどジャンルは自由！<br>
          好きなだけ好きなように好きなものを投稿しよう！
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


    

 

