/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import "layouts/navbar";

body {
  background-color: #fafafa;
  font-size: 14px;
  color: #262626;
}


h2 {
  font-size: 46px;
}


.logo-img {
  background-image: image-url("logo.png");
  background-repeat: no-repeat;
  height: 56px;
  width: 180px;
  background-size: 160px;
  background-size: 180px!important;
}

.form-wrap{
  padding: 20px 20px;
  margin: 20px 0px;
}

.copyright {
  margin-top: 70px;
}

.profile-wrap{
  margin: 40px 0px;
}

.round-img{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}

.setting {
  font-size: 30px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  margin: 15px 0 0 10px;
  background-size: 22px!important;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.profile-form-wrap label {
  font-weight: bold;
}

.edit-profile-wrapper {
  margin-top: 60px;
}

.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 40px 0px;
}

.no-text-decoration:hover {
  text-decoration: none;
}

.black-color {
  color: #262626;
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.loved {
  background-image: image-url("parts7");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.comment {
  font-size: 30px;
  margin-left: 8px;
  height: 36px;
  width: 36px;
  background-size: 40px !important;
}

.post-time {
  margin: 0;
  color:#999;
  font-size: 10px;
}

.post-sub-text {
  text-decoration: none;
  color: #262626;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.delete-comment {
  
  width: 11px;
  height: 11px;
  float: right;
  margin: 5px 0 0 10px;
  background-size: 11px !important;
}

.post-wrap .col-md-8 {
  padding: 0px;
}

.card-right {
  padding: 20px;
}

.card-right-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
}

.card-right-comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  height: 320px;
  overflow: auto;
}

.postShow-wrap {
  border: 1px solid #e6e6e6;
  margin: 40px;
}

.post-user-name {
  display: flex;
  align-items: center;
  line-height: 0;
}

.delete-post-icon {
  
  width: 20px;
  height: 20px;
  background-size: 20px !important;
  color: #262626;
  font-size: 20px;
}

// 画像スライダー
#slider{
  width: 600px;
  height: 600px;
}

// top,aboutページ
.topmain {
  background-image: url("top_bg.png");
  background-size: cover;
  background-position: left center;
  border-radius: 5%;
}
.topbg {
  background: rgba(255,255,255,.4);
  height: 100%;
}

.top-section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  width: 65%;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.copy-container h1 {
  font-size: 90px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  width: 100%;
  height: 500px;
}


.contents-item {
  float: left;
  margin-right: 40px;
  
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.aboutmain {
  background-image: url("about_bg.png");
  background-size: cover;
  border-radius: 5%;
}
.aboutbg {
  background: rgba(255,255,255,.5);
  height: 100%;
}

.about-section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
  
}
